
cocos_creator_game1/temp/startup.json
cocos_creator_game1/temp/gltf/4c2d3775749f1c7186880b65a5484b53_out/4c2d3775749f1c7186880b65a5484b53.gltf
cocos_creator_game1/temp/gltf/4c2d3775749f1c7186880b65a5484b53_out/buffer.bin
cocos_creator_game1/temp/quick-scripts/dst/__file_stats__.json
cocos_creator_game1/temp/quick-scripts/dst/__qc_bundle__.js
cocos_creator_game1/temp/quick-scripts/dst/__qc_index__.js
cocos_creator_game1/temp/quick-scripts/dst/__quick_compile__.js
cocos_creator_game1/temp/quick-scripts/dst/assets/Script/main.js
cocos_creator_game1/temp/quick-scripts/src/__qc_index__.js
cocos_creator_game1/temp/quick-scripts/src/assets/Script/main.js
cocos_creator_game1/build/jsb-link/.cocos-project.json
cocos_creator_game1/build/jsb-link/cocos-project-template.json
cocos_creator_game1/build/jsb-link/main.js
cocos_creator_game1/build/jsb-link/project.json
cocos_creator_game1/build/jsb-link/assets/internal/config.395b1.json
cocos_creator_game1/build/jsb-link/assets/internal/index.395b1.jsc
cocos_creator_game1/build/jsb-link/assets/internal/import/0b/0b6c4470e.f9695.json
cocos_creator_game1/build/jsb-link/assets/internal/native/02/0275e94c-56a7-410f-bd1a-fc7483f7d14a.cea68.png
cocos_creator_game1/build/jsb-link/assets/internal/native/60/600301aa-3357-4a10-b086-84f011fa32ba.c3a3a.png
cocos_creator_game1/build/jsb-link/assets/main/config.93c5e.json
cocos_creator_game1/build/jsb-link/assets/main/index.93c5e.jsc
cocos_creator_game1/build/jsb-link/assets/main/import/05/05d3caca8.2a8da.json
cocos_creator_game1/build/jsb-link/assets/main/import/07/0711dac00.49d81.json
cocos_creator_game1/build/jsb-link/assets/main/import/08/089d84930.dc6b4.json
cocos_creator_game1/build/jsb-link/assets/main/import/08/0841940f2.9fe39.json
cocos_creator_game1/build/jsb-link/assets/main/import/53/537e0e0e-d134-4bbe-8070-44e1ef7c1de1.ecaf7.json
cocos_creator_game1/build/jsb-link/assets/main/import/c6/c6cc0437-7775-4895-9148-db39a1d10c3d.82a07.json
cocos_creator_game1/build/jsb-link/assets/main/native/20/201b6d2c-5e30-475c-9e6f-8a64fc1b2593.0c687.jpg
cocos_creator_game1/build/jsb-link/assets/main/native/53/537e0e0e-d134-4bbe-8070-44e1ef7c1de1.74fd1.mp3
cocos_creator_game1/build/jsb-link/assets/main/native/72/72c9144f-8259-4ed4-b9e8-1fb5cc94e0a9.c1880.png
cocos_creator_game1/build/jsb-link/assets/main/native/a4/a48aaa6b-f2f9-4494-bbae-cada571691ba.4b0bd.png
cocos_creator_game1/build/jsb-link/assets/main/native/c2/c22ae7af-a183-42ff-b917-75cf975bbb4d.5fdc8.png
cocos_creator_game1/build/jsb-link/assets/main/native/c6/c6cc0437-7775-4895-9148-db39a1d10c3d.fe7c9.mp3
cocos_creator_game1/build/jsb-link/assets/main/native/e7/e739bcb7-2bb4-484a-b139-09ba15ccdc9a.c0cb3.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/Classes/AppDelegate.cpp
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/Classes/AppDelegate.h
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/Classes/jsb_module_register.cpp
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/Classes/NativeConfig.h
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/.gitignore
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/build-cfg.json
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/build.gradle
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/gradle.properties
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/gradlew
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/gradlew.bat
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/settings.gradle
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/app/.gitignore
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/app/AndroidManifest.xml
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/app/build.gradle
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/app/proguard-rules.pro
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/app/project.properties
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/app/jni/Android.mk
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/app/jni/Application.mk
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/javascript/AppActivity.java
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/game/.gitignore
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/game/AndroidManifest.xml
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/game/build.gradle
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/game/proguard-rules.pro
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/game/jni/Android.mk
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/game/jni/Application.mk
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/game/src/org/cocos2dx/javascript/InstantAppActivity.java
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/game/src/org/cocos2dx/javascript/InstantHelper.java
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/gradle/wrapper/gradle-wrapper.jar
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/gradle/wrapper/gradle-wrapper.properties
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/instantapp/.gitignore
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/instantapp/build.gradle
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/jni/CocosAndroid.mk
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/jni/CocosApplication.mk
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/jni/hellojavascript/main.cpp
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/res/mipmap-hdpi/ic_launcher.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/res/mipmap-mdpi/ic_launcher.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/res/mipmap-xhdpi/ic_launcher.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/res/mipmap-xxhdpi/ic_launcher.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/res/values/strings.xml
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/src/org/cocos2dx/javascript/SDKWrapper.java
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/src/org/cocos2dx/javascript/service/SDKClass.java
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.android-studio/src/org/cocos2dx/javascript/service/SDKInterface.java
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/EatingStar.xcodeproj/project.pbxproj
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/AppController.h
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/AppController.mm
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Info.plist
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/LaunchScreenBackground.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/main.m
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Prefix.pch
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/RootViewController.h
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/RootViewController.mm
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/SDKWrapper.h
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/SDKWrapper.m
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/UserConfigIOS.debug.xcconfig
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/UserConfigIOS.release.xcconfig
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Base.lproj/LaunchScreen.storyboard
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Base.lproj/Localizable.strings
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/Contents.json
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Contents.json
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-20.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-20@2x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-20@3x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-29.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-29@2x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-29@3x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-40.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-40@2x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-40@3x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-50.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-50@2x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-57.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-57@2x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-60@2x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-60@3x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-72.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-72@2x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-76.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-76@2x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-83.5@2x.png
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/service/SDKDelegate.h
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/ios/zh-Hans.lproj/Localizable.strings
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/mac/Icon.icns
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/mac/Info.plist
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/mac/main.cpp
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/mac/Prefix.pch
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/mac/UserConfigMac.debug.xcconfig
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.ios_mac/mac/UserConfigMac.release.xcconfig
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.win32/build-cfg.json
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.win32/EatingStar.sln
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.win32/EatingStar.vcxproj
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.win32/EatingStar.vcxproj.filters
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.win32/EatingStar.vcxproj.user
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.win32/game.rc
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.win32/main.cpp
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.win32/main.h
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.win32/resource.h
cocos_creator_game1/build/jsb-link/frameworks/runtime-src/proj.win32/res/game.ico
cocos_creator_game1/build/jsb-link/js backups (useful for debugging)/cocos2d-jsb.3c4f0.js
cocos_creator_game1/build/jsb-link/js backups (useful for debugging)/internal.index.395b1.js
cocos_creator_game1/build/jsb-link/js backups (useful for debugging)/main.index.93c5e.js
cocos_creator_game1/build/jsb-link/js backups (useful for debugging)/physics.10dcf.js
cocos_creator_game1/build/jsb-link/js backups (useful for debugging)/settings.a3ef2.js
cocos_creator_game1/build/jsb-link/jsb-adapter/jsb-builtin.js
cocos_creator_game1/build/jsb-link/jsb-adapter/jsb-engine.js
cocos_creator_game1/build/jsb-link/src/cocos2d-jsb.3c4f0.jsc
cocos_creator_game1/build/jsb-link/src/physics.10dcf.jsc
cocos_creator_game1/build/jsb-link/src/settings.a3ef2.jsc
cocos_creator_game1/build/web-desktop/cocos2d-js-min.cd71f.js
cocos_creator_game1/build/web-desktop/favicon.8de18.ico
cocos_creator_game1/build/web-desktop/index.html
cocos_creator_game1/build/web-desktop/main.9a42d.js
cocos_creator_game1/build/web-desktop/physics-min.e6810.js
cocos_creator_game1/build/web-desktop/splash.85cfd.png
cocos_creator_game1/build/web-desktop/style-desktop.dfd76.css
cocos_creator_game1/build/web-desktop/style-mobile.6e9cd.css
cocos_creator_game1/build/web-desktop/assets/internal/config.69b9a.json
cocos_creator_game1/build/web-desktop/assets/internal/index.69b9a.js
cocos_creator_game1/build/web-desktop/assets/internal/import/0b/0b6c4470e.f9695.json
cocos_creator_game1/build/web-desktop/assets/internal/native/02/0275e94c-56a7-410f-bd1a-fc7483f7d14a.cea68.png
cocos_creator_game1/build/web-desktop/assets/internal/native/60/600301aa-3357-4a10-b086-84f011fa32ba.c3a3a.png
cocos_creator_game1/build/web-desktop/assets/main/config.99263.json
cocos_creator_game1/build/web-desktop/assets/main/index.99263.js
cocos_creator_game1/build/web-desktop/assets/main/import/03/032f75243.570d3.json
cocos_creator_game1/build/web-desktop/assets/main/import/08/089d84930.dc6b4.json
cocos_creator_game1/build/web-desktop/assets/main/native/20/201b6d2c-5e30-475c-9e6f-8a64fc1b2593.0c687.jpg
cocos_creator_game1/build/web-desktop/assets/main/native/53/537e0e0e-d134-4bbe-8070-44e1ef7c1de1.74fd1.mp3
cocos_creator_game1/build/web-desktop/assets/main/native/72/72c9144f-8259-4ed4-b9e8-1fb5cc94e0a9.c1880.png
cocos_creator_game1/build/web-desktop/assets/main/native/a4/a48aaa6b-f2f9-4494-bbae-cada571691ba.4b0bd.png
cocos_creator_game1/build/web-desktop/assets/main/native/c2/c22ae7af-a183-42ff-b917-75cf975bbb4d.5fdc8.png
cocos_creator_game1/build/web-desktop/assets/main/native/c6/c6cc0437-7775-4895-9148-db39a1d10c3d.fe7c9.mp3
cocos_creator_game1/build/web-desktop/assets/main/native/e7/e739bcb7-2bb4-484a-b139-09ba15ccdc9a.c0cb3.png
cocos_creator_game1/build/web-desktop/src/settings.c6560.js
