
cocos_creator_game1/temp/startup.json
cocos_creator_game1/temp/gltf/4c2d3775749f1c7186880b65a5484b53_out/4c2d3775749f1c7186880b65a5484b53.gltf
cocos_creator_game1/temp/gltf/4c2d3775749f1c7186880b65a5484b53_out/buffer.bin
cocos_creator_game1/temp/quick-scripts/dst/__file_stats__.json
cocos_creator_game1/temp/quick-scripts/dst/__qc_bundle__.js
cocos_creator_game1/temp/quick-scripts/dst/__qc_index__.js
cocos_creator_game1/temp/quick-scripts/dst/__quick_compile__.js
cocos_creator_game1/temp/quick-scripts/dst/assets/Script/main.js
cocos_creator_game1/temp/quick-scripts/src/__qc_index__.js
cocos_creator_game1/temp/quick-scripts/src/assets/Script/main.js
